# Created by .ignore support plugin (hsz.mobi)
.idea/
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.slo

*.mod
*.smod
*.lai

*.exe~

*.test

/goserver/goserver.h
/cef_lib/Debug/
/cef_lib/libcef_dll/
/cef_lib/Resources/
/cef_lib/cef_lib.7z
/cef_lib/include/
/cef_lib/Release/
